*{outline:1px solid rgba(255,0,85,0.3);outline-offset:-1px;}
html {
	margin: 0px;
	padding: 0px;
	width:100%;
	height:100%;
	overflow:hidden;
	position:absolute;
	background: rgb(32,25,26);
	color:#fff;
}

body {
	margin: 0px;
	padding: 0px;
	top:0;
	left:0;
	width:100%;
	height:100%;
	position:absolute;
	background:url('gfx/muzak.svg') center no-repeat;
	background-size:100% 100%;
	background-position:center center;
}

::-webkit-scrollbar-thumb {
	display: none;
}

.content{
	width:100%;
	height:100%;
	position:absolute;
}

.side{
	width:20%;
	height:calc(100% - 3em);
	position:absolute;
	top:0;
	left:0;
}

.head{
	width:80%;
	height:3em;
	left:20%;
	top:0;
	position:absolute;
}

.drag{
	-webkit-app-region: drag;
	width:calc(100% - 7em);
	height:3em;
	position:absolute;
	top:0;
	left:0;
}

.main{
	width:80%;
	height:calc(100% - 6em);
	position:absolute;
	top:3em;
	left:20%;
}

.tail{
	width:100%;
	height:3em;
	bottom:0;
	left:0;
	position:absolute;
}

.window-controls{
	position:absolute;
	right:0;
	height:3em;
	top:0;
	padding:0;
	margin:0;
}

.min, .max, .close{
	width:2em;
	height:1em;
	margin:0;
	top:0;
	right:0;
	float:left;
	padding:0;
	transition:all 300ms ease;
	text-align:center;
	line-height:0.9em;
	cursor:pointer;
	vertical-align:middle;
}

.min:hover, .max:hover, .close:hover{
	background:rgba(255,0,85,0.5);
}

.min:active, .max:active, .close:active{
	background:rgba(255,255,255,0.5);
}

.close{
	margin-right:1em;
}

::selection {
	background:rgba(255,0,85,0.5);
}
::-moz-selection {
	background:rgba(255,0,85,0.5);
}
